
mainmenu "Packet pirate configurations"

source "src/filters/KConfig"
source "src/dump/KConfig"

config DEF
    bool "Defaults"
    default y
    
    config DEF_FS1
	bool "Stage I"
	default n
	depends on DEF

    config DEF_FS1_USE_BPF
	bool "Use BPF"
	default n
	depends on DEF_FS1
	help
	    Utilize full Berkley packet filter support with query string

	config DEF_FS1_BPF
	    string "BPF"
	    default "tcp"
	    depends on DEF_FS1_USE_BPF
    
	config DEF_FS1_DHOST
	    string "Destination host"
	    default "127.0.0.1"
	    depends on !DEF_FS1_USE_BPF && DEF_FS1

	config DEF_FS1_DNET
	    string "Destination network"
	    default ""
	    depends on !DEF_FS1_USE_BPF && DEF_FS1
    
	config DEF_FS1_DPORT
	    string "Destination port"
		default ""
	    depends on !DEF_FS1_USE_BPF && DEF_FS1

	config DEF_FS1_PROTO
	    string "Protocol"
		default "tcp"
	    depends on !DEF_FS1_USE_BPF && DEF_FS1
    
	config DEF_FS1_SHOST
	    string "Source host"
	    default ""
	    depends on !DEF_FS1_USE_BPF && DEF_FS1
    
	config DEF_FS1_SNET
	    string "Source network"
	    default ""
	    depends on !DEF_FS1_USE_BPF && DEF_FS1
    
	config DEF_FS1_SPORT
	    string "Source port"
		default ""
	    depends on !DEF_FS1_USE_BPF && DEF_FS1
    
config DEV
    bool "Development"
    default y
    help
	Framework testing and development configurations
    
    config DEV_SANITY
	bool "NOT IMPL Sanity checking"
	default y
	depends on DEV

config LOGGING
    bool "Logging"
    default y
    help
	Message logging will be enabled. If unchecked - will not be compiled in filal binary. Othervise may decrease performance

    choice VERBOSITY
	prompt "Select logging verbosity"
	depends on LOGGING
	default VERB_WARN
	
    config VERB_QUIET
	bool "Quiet"
	help
	    "No messages"

    config VERB_CRIT
	bool "Critical"
	help
	    "Logs only critical messages"

    config VERB_ERR
	bool "Error"
	help
	    "Logs error and highier priority messages"

    config VERB_WARN
	bool "Warning"
	help
	    "Logs warning and highier priority messages"

    config VERB_NOTICE
	bool "Notice"
	help
	    "Logs notice and highier priority messages"

    config VERB_INFO
	bool "Info"
	help
	    "Logs informational and highier priority messages"

    config VERB_DEBUG
	bool "Debug"
	help
	    "Logs debug and highier priority messages"
    endchoice
    
config TESTS
    bool "Testing"
    default n
    help
	Plugin testing configuration
    
    config PLUGIN_TEST_SIMPLE
	bool "NOT IMPL simple test, just example"
	depends on TESTS


