
mainmenu "Packet pirate configurations"

source "src/filters/KConfig"
source "src/dump/KConfig"
source "scripts/def_KConfig"
source "scripts/devel_KConfig"
source "scripts/tests_KConfig"
    
choice VERBOSITY
prompt "Logging"
default VERB_WARN
help
Message logging will be enabled. If unchecked - will not be compiled in filal binary. Othervise may decrease performance

config DFN_VERB_QUIET
bool "Quiet"
help
	"No messages"

config DFN_VERB_CRIT
bool "Critical"
help
	"Logs only critical messages"

config DFN_VERB_ERR
bool "Error"
help
	"Logs error and highier priority messages"

config DFN_VERB_WARN
bool "Warning"
help
	"Logs warning and highier priority messages"

config DFN_VERB_NOTICE
bool "Notice"
help
	"Logs notice and highier priority messages"

config DFN_VERB_INFO
bool "Info"
help
	"Logs informational and highier priority messages"

config DFN_VERB_DEBUG
bool "Debug"
help
	"Logs debug and highier priority messages"
endchoice

