
menu "Filters"

source "src/filters/arp/KConfig"
source "src/filters/ethernet/KConfig"
source "src/filters/icmpv4/KConfig"
source "src/filters/icmpv6/KConfig"
source "src/filters/igmp/KConfig"
source "src/filters/ipv4/KConfig"
source "src/filters/ipv6/KConfig"
source "src/filters/tcp/KConfig"
source "src/filters/udp/KConfig"

endmenu

